<!doctype html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="author" content="<your name>">
    <meta name="keywords" content="<comma>, <separated>, <keywords>">
    <meta name="description" content="<A short description about this page>">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="container">
			<header>
				<h1>Blank Template</h1>
				<h2>Just another blank template</h2>
			</header> 	
			<footer>
				&copy; Footer Goes Here
			</footer>
		</div><!-- #container --> 
  </body>
</html>