/*Combine multiples*/
#buttons-wrapper{
     padding:10px;
     border:1px solid black;
     background:orange;
}
#buttons-wrapper>form{
     padding:10px;
     border:1px solid black;
}



/*Rename classes/ids for readability*/
#img1{
     margin-top: 50px;
}



/*Organize CSS*/
.list-item{
     width:200px;
}
#container>.col{
     width:50%;
}
footer{
     text-align: right;
}
a:hover{
     color:purple;
}
header>ol{
     list-style: none;
}
body{
     background-image:url(../images/anImage.png);
}
#navigation-wrapper{
     float:left;
}
a{
     color:red;
}
header{
     height:80px;
}
#container>img{
     border:1px solid red;
}
footer>#company-name{
     font-weight: bold;
}



/*Create classes for large css changes
$("#container").css({background:"red",fontSize:"12px",color:"purple",boxShadow:"0 0 10px #ccc";})
*/



/*Remove unnecessary CSS */
#myDiv{
     margin:10px 0px 0px 20px;
}
div{
     width:100%;
}