body { /* 5. General Styles, Cascades */
  background-color: #CCCCCC; /* 6. Colours */
  font-family: "Open Sans"; /* 7. Web Fonts */
}

#board { /* 8. Style the board */
  margin: 40px; /* 9. Box model */
  padding: 20px;
  background-color: white;
  box-shadow: 10px 10px 5px #888888; /* 10. Death to PS */
}

.postit { /* 11. Style the postit */
  background-color: #FFFFA5;
  width: 172px;
  height: 172px;
  padding: 8px;
  margin: 8px;
  float: left; /* 12. Go with the flow, floating */
  overflow: hidden;
}

/* Clear fix hack */
.clearfix:after { /* 13. Clearfix hack */
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
